.container{
    max-width: 700px;
    margin:auto;
    margin-top: 20px;
}

.post{
    /*border: 1px solid black;*/
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #dadada;
    padding: 10px;
}

.post_header{
    display: flex;
    justify-content: center;

    padding-bottom: 5px;
}

.post_title{
    font-size: 20px;
}

.post_container{
    padding-bottom: 5px;
}

.post_foother div{
    display: inline;
}
.post_foother{
    display: flex;
    justify-content: space-between;
}